h1 {
  font-family: monospace;
  font-size: 60px;
}

h2 {
  font-family: monospace;
  font-size: 28px;
}

p {

}

img {
  max-width: 450px;
}

.intro {
  width: 50%;
  font-family: sans-serif;
}

.clickable {
  cursor: pointer;
  color: red;
}

.clickable:hover {
  text-decoration: line-through;
}

.paragraph {
  background-color: yellow;
  border: 5px solid black;
}
